<a href="https://colab.research.google.com/github/danielaPerezS/progra/blob/main/Ev3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import io

In [2]:
from google.colab import files

In [3]:
uploaded = files.upload ()

Saving titanic.csv to titanic.csv

In [4]:
DataFrame = pd.read_csv(io.StringIO(uploaded['titanic.csv'].decode('latin-1')))

In [5]:
DataFrame

,IdClase,Sobreviviente,Nombre,Genero,Edad,"Número de hermanos, hermanas, hermanastros o hermanastras en el barco.",Número de padres e hijos en el barco.,Ticket,Precio,Camarote,Puerto,Bote,Destino
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN

In [6]:
DataFrame.shape

(1309, 13)

In [7]:
print(len(DataFrame))

1309

In [8]:
print(DataFrame.shape[1])

13

 type of data

In [9]:
DataFrame.dtypes

IdClase                                                                     int64
Sobreviviente                                                               int64
Nombre                                                                     object
Genero                                                                     object
Edad                                                                      float64
Número de hermanos, hermanas, hermanastros o hermanastras en el barco.      int64
Número de padres e hijos en el barco.                                       int64
Ticket                                                                     object
Precio                                                                    float64
Camarote                                                                   object
Puerto                                                                     object
Bote                                                                       object
Destino                                                                    object
dtype: object

Primeras 5 filas de datatime

In [10]:
DataFrame.head()

,IdClase,Sobreviviente,Nombre,Genero,Edad,"Número de hermanos, hermanas, hermanastros o hermanastras en el barco.",Número de padres e hijos en el barco.,Ticket,Precio,Camarote,Puerto,Bote,Destino
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"

ultimas 5 filas

In [11]:
DataFrame.tail()

,IdClase,Sobreviviente,Nombre,Genero,Edad,"Número de hermanos, hermanas, hermanastros o hermanastras en el barco.",Número de padres e hijos en el barco.,Ticket,Precio,Camarote,Puerto,Bote,Destino
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,NaN,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,NaN,NaN

Especificar la columna Nombre

In [12]:
DataFrame[['Nombre', 'Edad']]

                                               Nombre     Edad
0                       Allen, Miss. Elisabeth Walton  29.0000
1                      Allison, Master. Hudson Trevor   0.9167
2                        Allison, Miss. Helen Loraine   2.0000
3                Allison, Mr. Hudson Joshua Creighton  30.0000
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  25.0000
...                                               ...      ...
1304                             Zabour, Miss. Hileni  14.5000
1305                            Zabour, Miss. Thamine      NaN
1306                        Zakarian, Mr. Mapriededer  26.5000
1307                              Zakarian, Mr. Ortin  27.0000
1308                               Zimmerman, Mr. Leo  29.0000

[1309 rows x 2 columns]

In [13]:
DataFrame['Nombre']

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: Nombre, Length: 1309, dtype: object

In [14]:
DataFrame.Edad

0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
         ...
1304    14.5000
1305        NaN
1306    26.5000
1307    27.0000
1308    29.0000
Name: Edad, Length: 1309, dtype: float64

In [15]:
DataFrame['Nombre']=DataFrame['Nombre'].str.upper()
DataFrame

,IdClase,Sobreviviente,Nombre,Genero,Edad,"Número de hermanos, hermanas, hermanastros o hermanastras en el barco.",Número de padres e hijos en el barco.,Ticket,Precio,Camarote,Puerto,Bote,Destino
0,1,1,"ALLEN, MISS. ELISABETH WALTON",female,29.0000,0,0,24160,211.3375,B5,S,2,"St Louis, MO"
1,1,1,"ALLISON, MASTER. HUDSON TREVOR",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,1,0,"ALLISON, MISS. HELEN LORAINE",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"ALLISON, MR. HUDSON JOSHUA CREIGHTON",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
4,1,0,"ALLISON, MRS. HUDSON J C (BESSIE WALDO DANIELS)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"ZABOUR, MISS. HILENI",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,NaN
1305,3,0,"ZABOUR, MISS. THAMINE",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN
1306,3,0,"ZAKARIAN, MR. MAPRIEDEDER",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,NaN
1307,3,0,"ZAKARIAN, MR. ORTIN",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN
1308,3,0,"ZIMMERMAN, MR. LEO",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN